.card {
    background-color: #e37ba2;
    color: white;
    position: relative;
    min-height: 20rem;
    max-height: 100%;
    margin: 20px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding: 30px;
}

.card_conatiner{
    display: grid;
    column-gap: 30px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.table_container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    font-size: 20px;
    padding: 50px;
}

.table_container>*{
    border: 1px solid #dfdfdf;
    text-align: center;
}

.teacher{
    display: block;
}

// .last{
//     border-bottom: 1px solid #dfdfdf; 
// }
@media only screen and (max-width: 600px) {
    .card_conatiner{
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .table_container{
        padding: 10px;
    }
}